/* post Meta stuling */
.entry_categories {
  font-size: 95%;
	font-weight: 400;

	a {
		text-decoration: none;
		text-transform: none;
		color: #8c8c8c;
		font-size: 95%;

		&:focus,
		&:hover {
			border-bottom: 2px solid rgba(238,0,0,.75);
	    color: rgba(238,0,0,.75);
		}
	}
}